/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

*{
    margin:0 auto;
    padding:0 auto;
    box-sizing:border-box;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

body{
    border: solid 2px #000000;
    margin: 5%;
}

header{
    padding: 3%;
    border-bottom: solid 2px #000000;

    .header-logo{
        border: solid 1px #000000;
        padding: 3px;;
    }

    .welcome{
        display: inline-block;
    }
    
    ul{
        list-style: none;
    }
    
    .logout{
        display: inline-block;
    }
}

.main{
    padding: 0 2%;
}